<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			* {
				padding: 0;
				margin: 0;
				list-style: none;
			}
		</style>
	</head>

	<body>
		<div id="main">
			<input type="text" v-model="tex" @keyup.13="add" />
			<h2>正在进行中</h2>
			<ul>
				<li v-for="(item,index) in ulList">
					<input type="checkbox" @click="ulclick(index)" :checked="item.flag" />
					<span>{{item.text}}</span>
				</li>
			</ul>
			<h2>已完成</h2>
			<ol>
				<li v-for="(item,index) in olList">
					<input type="checkbox" @click="olclick(index)" :checked="item.flag" />
					<span>{{item.text}}</span>
				</li>
			</ol>
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#main',
				data: {
					tex: '',
					ulList: [],
					olList: []
				},
				methods: {
					add() {
						this.ulList.push({
							text: this.tex,
							flag: false
						})
					},
					olclick(index) {
						let item = this.olList[index];
						item.flag = false;
						this.olList.splice(index, 1)
						this.ulList.push(item)
					},
					ulclick(index) {
						let item = this.ulList[index];
						item.flag = true;
						this.ulList.splice(index, 1);
						this.olList.push(item)
					}
				}
			})
		</script>
	</body>

</html>