@charset "utf-8";
html {
    font-size: 100px;
}

* {
    font-size: .14rem;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "宋体";
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
textarea,
select,
input {
    appearance: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    background: #F6F6F6;
}

@mixin nv($h, $w) {
    width: $h;
    height: $w;
}

$m:background;
.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    #{$m}: url('../img/1.jpg')
}

header {
    @include nv(100%,
    .5rem);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    #{$m}: blue;
    align-items: center;
    color: #ffff;
}

section {
    flex: 1;
    overflow-y: auto;
    .list {
        @include nv(100%,
        auto);
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-content: center;
        line-height: 2;
        padding: 0 15px;
        .left {
            p {
                &:nth-of-type(3) {
                    color: #cccc;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
        }
    }
}

footer {
    @include nv(100%,
    .5rem);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}