.clearfix {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 16px;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    li {
        padding: 0;
    }
    a {
        color: #000;
        display: block;
    }
    .router-link-active {
        color: #31c27c;
        border-bottom: 2px solid #31c27c;
    }
}

.banner {
    width: 100%;
    .el-carousel__container {
        height: 128px;
    }
    img {
        width: 100%;
    }
    .el-carousel__button {
        width: 15px;
    }
}