.clearfix {
  width: 100%;
  display: flex;
  list-style: none;
  font-size: 16px;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.clearfix li {
  padding: 0;
}

.clearfix a {
  color: #000;
  display: block;
}

.clearfix .router-link-active {
  color: #31c27c;
  border-bottom: 2px solid #31c27c;
}

.banner {
  width: 100%;
}

.banner .el-carousel__container {
  height: 128px;
}

.banner img {
  width: 100%;
}

.banner .el-carousel__button {
  width: 15px;
}
